@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  textarea,
  select {
    @apply w-full bg-gray-50 border border-gray-300 text-sm rounded-lg
    focus:ring-blue-500 focus:border-blue-500
    dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white;
  }

  textarea{
    height:5rem;
  }
}